body{
  background-image: url('https://cdn.hipwallpaper.com/i/33/18/mouVTa.jpg');
  background-size: 100vw;
  color: white;
  font-family: 'Megrim', cursive;
}
.start{
  background-image: url("https://i.pinimg.com/originals/60/78/af/6078af6098937f4ae4e8e130a2b88e97.jpg")
}
h1{
  font-family: 'MedievalSharp', cursive;
}
.display{
  margin: 20vh 0 0 0;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}
#message{
  height: 20vh;
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.555)
}

#goblinBtns {
  display: none;
}

#lootBtns {
  display: none;
}

#gameOver {
  display: none;
}