body{
  background-image: url('https://cdn.hipwallpaper.com/i/33/18/mouVTa.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Megrim', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-position: center;
}



#game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start{
  background-image: url("https://i.pinimg.com/originals/60/78/af/6078af6098937f4ae4e8e130a2b88e97.jpg")
}
h1{
  font-family: 'MedievalSharp', cursive;
}
.display{
  width: 100vw;
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

img {
  margin-top: 100px;
}
/* #message{
  height: 20vh;
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.555)
} */

#goblinBtns {
  display: none;
}

#lootBtns {
  display: none;
}

#gameOver {
  display: none;
}

#potionBtn {
  display: none;
}

#stats {
  display: none;
  color: white;
  font-size: 18px;
  background-color: #222;
  padding: 20px;
}

#stats p, #stats span {
  margin: 2px;
}

#button-cont {
  display: flex;
  flex-direction: column;
}

#leftRight {
  display: flex;
  flex-direction: row;
}

#button-cont button, button {
  margin: 5px;
}

#output {
  box-sizing: content-box;
  margin: 0;
  height: auto;
}

#output img {
  height: 300px; 
  width: auto;
  margin-top: 40vh;
}